/* .container{

   width: 100%;
   height: 100%;
} */
#custom{
   background-color: #0a2700;
  height: 100vh;
  width: 85rem;
  }
.relative-two-pos{
  position: absolute;
}
.relative-two{
position: absolute;
height: 40rem;
width: 85rem;
  
  
  /* height: 900%; */
  }

  .wheel-pos{
position: sticky;
    
 
     margin-top: 3.6rem;
     margin-left: 25.5rem;
  }
  .last-ten{


   position: absolute;

   
 margin-left: 75rem;
 color: white;
    z-index: 250000000000000000000000000000;
    margin-top: 24rem;
  }
  .last-ten-li{
position: absolute;
  
  }
  ul {
   position: absolute;

   list-style: none;
   margin-left:77rem;
   margin-top: 17.5rem;
 }
 .element-pos-last ul{
   position: absolute;

   margin-left:77rem;
   margin-top: 17.5rem;

 }
 .element li{


margin: 0;
padding: none;

 }
#top-ten-pos{
   margin-bottom: -0.58em;
   margin-left: -1rem;
}
 .element-pos-last{
   font-weight:bolder;
   font-size: 1.75rem;
     margin-top: -2rem;
     font-family:  "Source Sans Pro";
 }

   .couter-pos{
     position: absolute;
     margin-left: 19em;
      margin-top: 36rem;
     z-index: 200000000000000000000000000000000000000000000;
      color: rgb(209, 209, 209);
      
     font-weight: bolder;
  } 


  .first-dozen{
     position: absolute;
     margin-left: 7.8rem;
     font-style: italic;
font-family:  "Source Sans Pro";

      margin-top:27.7rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }
  .second-dozen{
     position: absolute;
     margin-left: 14.8rem;
     font-style: italic;
font-family:  "Source Sans Pro";
      margin-top:27.7rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }

  .three-dozen{
     position: absolute;
     font-family:  "Source Sans Pro";
     margin-left: 21.8rem;
     font-style: italic;

      margin-top:27.7rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }
  .time-pos{
     position: absolute;
     margin-left: 66.5rem;
      margin-top: 35.9rem;
      font-weight: 2vw;
      color: rgb(209, 209, 209);
  }
  .low{
     font-family:  "Source Sans Pro";
     position: absolute;
     margin-left: 7.7rem;
     font-style: italic;

      margin-top:29.2rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }
  .high{
     position: absolute;
     margin-left: 21.8rem;
     font-style: italic;
font-family:  "Source Sans Pro";
      margin-top:29.2rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }
  .red{
     position: absolute;
     margin-left: 14.8rem;
     font-style: italic;
 
      margin-top:29.2rem;
      font-size: 1.1rem;
font-family:  "Source Sans Pro";
      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }

  .green{


   position: absolute;
   margin-left: 14.8rem;
   font-style: italic;
font-family:  "Source Sans Pro";
    margin-top:26.1rem;
    font-size: 1.1rem;

    color: rgb(255, 255, 255);
    z-index: 25000000000000000000000;
  }
  .black{
     position: absolute;
     margin-left: 14.7rem;
     font-style: italic;
font-family:  "Source Sans Pro";
 margin-top:30.7rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }
  .odd{
     position: absolute;
     margin-left: 7.7rem;
     font-style: italic;
 font-family:  "Source Sans Pro";
      margin-top:30.7rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }
  .even{
     position: absolute;
     margin-left: 21.8rem;
     font-style: italic;
 font-family:  "Source Sans Pro";
      margin-top:30.7rem;
      font-size: 1.1rem;

      color: rgb(255, 255, 255);
      z-index: 25000000000000000000000;
  }

  .number{


   position: absolute;
   margin-left: 67.8rem;
 
font-weight: bolder;
    margin-top:8.8rem;
    font-size: 1.2rem;

    color: rgb(255, 255, 255);
    z-index: 25000000000000000000000;
  }
  .color{


   position: absolute;
   margin-left: 67.8rem;
 
font-weight: bolder;
    margin-top:10.2rem;
    font-size: 1.2rem;

    color: rgb(255, 255, 255);
    z-index: 25000000000000000000000;
  }
  .oddandeven{
   position: absolute;
   margin-left: 67.8rem;
 
font-weight: bolder;
    margin-top:11.6rem;
    font-size: 1.2rem;

    color: rgb(255, 255, 255);
    z-index: 25000000000000000000000;
  }
  .dozen{
 
   position: absolute;
   margin-left: 78.5rem;
 
font-weight: bolder;
    margin-top:8.8rem;
    font-size: 1.2rem;

    color: rgb(255, 255, 255);
    z-index: 25000000000000000000000;
  }

  .highorlow{


   position: absolute;
   margin-left: 78.5rem;
 
font-weight: bolder;
    margin-top:10.2rem;
    font-size: 1.2rem;

    color: rgb(255, 255, 255);
    z-index: 25000000000000000000000;
  }

  .cold-nw-style{
      position: absolute;
      z-index: 20000000000000000000000000000000;
      color: black;
      font-size: 25rem;
  }
  .element-history-one{
      
   margin-bottom: -0.34rem;
   color: white;
   font-style: italic;
   font-size: 1.2rem;
   font-family:  "Source Sans Pro";
  }
  .element-history-one-move{
    position: absolute;
    margin-left: 8.5rem;
    margin-top: 8.7rem;
  }
  .element-history-two{
      
   margin-bottom: -0.34rem;
   color: white;
   font-style: italic;
   font-size: 1.2rem;
   font-family:  "Source Sans Pro";
   }
   .element-history-two-move{
     position: absolute;
     margin-left: 15.2rem;
     margin-top: 8.7rem;
   }

   .element-history-three{
      
      margin-bottom: -0.34rem;
      color: white;
      font-style: italic;
      font-size: 1.2rem;
      font-family:  "Source Sans Pro";
       }
       .element-history-three-move{
         position: absolute;
         margin-left: 21.2rem;
         margin-top: 8.7rem;
       }

       .element-history-zero{
         margin-bottom: -0.34rem;
   color: white;
   font-style: italic;
   font-size: 1.2rem;
   font-family:  "Source Sans Pro";
           }
           .element-history-zero-move{
             position: absolute;
             margin-left: 15.2rem;
             margin-top: 26.2rem;
           }
       
           .element-history-cold{
      
               margin-bottom: 0.1rem;
               color: white;
               font-style: italic;
               display: flex;
                            justify-content: space-between;
              
               font-weight: bolder;
               font-size: 0.9rem;
               }
               .element-history-cold-move{
                 position: absolute;
                 margin-left: 69rem;
                 margin-top: 17.7rem;
           
               }

               .element-history-cold p{
                           padding-right: 2rem;
                           color:white;
                    }


                    .element-history-hot{
      
                       margin-bottom: 0.1rem;
                       color: white;
                       font-style: italic;
                       display: flex;
                                    justify-content: space-between;
                      
                       font-weight: bolder;
                       font-size: 0.9rem;
                       }
                       .element-history-hot-move{
                         position: absolute;
                         margin-left: 61.6rem;
                         margin-top: 17.7rem;
                   
                       }
        
                       .element-history-hot p{
                                   padding-right: 2rem;
                                   color:white;
                            }
.element-history-hot-first-col{
   font-weight: bolder;
   font-size: 0.96rem;
}
.element-history-hot-second-col{
   color: white;
   font-weight: 400;
   font-size: 0.98rem;
   font-style: italic;
   font-family:  "Source Sans Pro";
  
}

.element-history-hot-second-col-total{
   color: white;
   font-weight: 400;
   font-size: 0.98rem;
   font-style: italic;
   font-family:  "Source Sans Pro";
  
}

.hot-col-two-pos{
   margin-left: 3rem;
   margin-top: -14.5rem;
}




.element-history-cold-first-col{
   font-weight: bolder;
   font-size: 0.96rem;
}
.element-history-cold-second-col{
   color: white;
   font-weight: bolder;
   font-size: 0.96rem;
   
  
}
.cold-col-two-pos{
   margin-left: 3rem;
   margin-top: -14.5rem;
}

