.cont{

 height: 100vh;
 width: 100vw;
    background-color: #5ca3dd93;

}
#htwo{
    margin-left: 40%;
    font-size: 10vw;
   
    text-shadow: 0.9vw 0.2vw 0.1vw rgb(63, 63, 63);
}
#hthree{

    font-size: 4vw;
    margin-top: 1rem;
    margin-left: 20%;
}
#pfour{
    font-size: 1vw;
margin-left: 20%;
font-weight: bolder;
}
/* p:last-of-type{
    margin-bottom: 35px;
} */
