@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.logoTitle {
  font-family: "Rubik Beastly", cursive;
}

.home {
  background-color: rgba(11, 27, 91, 0.9);
  width:100%;
}
body {
  background-color: black;
}

thead th {
  padding-right: 50px;
}
