#pos-hot-lis{

    margin-top: -280px;
}
#last-draw-id{
    margin-left: -10px;
    margin-top: 0px;
}
.jack{
  
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 50px;
}

.container {
    
    display: grid;
    grid-template-columns: 6.8rem 6.8rem 6.8rem 6.8rem;
    grid-gap: 1rem;
    grid-auto-flow: row;
    margin-top: 5%;
    font-size: 140%;
    color: #ff9900e1;
    width: 3%;
  }
.mymodal {
      background-image: url(http://retail.fan11.net/v4.99/images/plugins/spinwin/jackpotscreen.png);
      margin-left: 2%;
    background-size: contain, cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  
 
    border-radius: 4px;
    outline: none;
    padding: 50px;
   
  }
.jackPot-place{
    position: absolute;
    z-index: 200;
    font-weight: bold;
    font: 30px/30px Anton;
    font-family: 'Anton';
    color: white;
    margin-top: 695px;
    margin-left: 695px;
 
    font-weight: normal;
    font-style: normal;
}